/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent,
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$colors: (
    (apricotpeach,#f9bdbd),
    (halfbaked,#94c7d1),
    (gumbo,#82a7a4),
    (seanymph,#749e9a),
    (juniper,#709A96),
    (opal,#B0C9C6),
    (blue,#00e),
    (bizarre,#f0dddd),
    (burningsand,#DB956F),
    (desertsand,#EEC3B2),

    (thunderbird,#d81d0e),
    (pomegranate,#e82914),

    (monza,#d41a0d),
    (oldbrick,#971e20),
    (guardsmanred,#b90205),

    (fire,#a43b04),
    (irishcoffee,#632c23),
    (expresso,#5b2217),
    (darkexpresso,#5A2116),
    (oregon,#9A3602),

    (desert,#b65f1d),

    (roseofsharon,#C04502),
    (tuscany,#CE6A36),

    (sandwisp,#f4dfa5),

    (yellow,#ff0),

    (olivetone,#627e0f),

    (berylgreen,#d3e5b2),
    (pearllusta,#fcf8dc),
    (doublepearllusta,#fbf5ca),
    (texas,#f7eb95),
    (palecanary,#ff9),

    (tealblue,#06375a),
    (blumine,#1d566f),
    (bluezodiac,#12385c),
    (darktealblue,#06375a),
    (downriver,#0f375c),

    (bluelagoon,#036f83),
    (easternblue,#2695ac),
    (bostonblue,#339CB2),
    (mosque,#046b7d),

    (fiord,#3e5761),
    (spectra,#36585e),
    (oracle,#36726d),
    (cuttysark,#526872),
    (bluebayoux,#45626b),
    (shuttlegrey,#576c75),
    (nileblue,#18515d),
    (deepseagreen,#064D47),

    (firefly,#0e3935),
    (eveningsea,#044f48),
    (sherwoodgreen,#033f3a),

    (elephant,#0E2D3A),
    (bluedianne,#213e4a),
    (tiber,#072d3a),
    (bigstone,#1a3843),

    (bunting,#1c1448),

    (martinique,#42335f),
    (daisybush,#551a8b),

    (wineberry,#5a1e32),

    (sanjuan,#2b5573),
    (veniceblue,#085485),
    (blueribbon,#06e),

    (ziggurat,#bfd0de),
    (catskillwhite,#E8F2F4),
    (blacksqueeze,#eaf1f8),
    (linkwater,#d6e4f1),
    (aquahaze,#F2F6F8),
    (mystic,#e5edec),
    (geyser,#DCE6E5),

    (rumswizzle,#fcfbf0),
    (athensgrey,#f6f6f8),
    (albescentwhite,#F6E5DB),
    (whitelinen,#F6E9E0),

    (greychateau,#a3acb1),
    (submarine,#bbc8c8),
    (alto,#e0e0e0),
    (porcelain,#ebeced),
    (blackhaze,#eceeee),
    (frenchgrey,#D0D0D1),
    (westar,#e6e3dd),
    (cararra,#eceae6),
    (mercury,#e8e8e8),
    (dustygrey,#999),
    (silver,#ccc),
    (iron,#d5dcdd),
    (bombay,#b0b1b3),

    (midgrey,#626366),
    (edward,#9ba2a3),
    (nobel,#bbb8b8),
    (silverchalice,#a9a9a9),
    (emperor,#555),
    (regentgrey,#87969D),
    (riverbed,#404a5a),

    (flint,#69615a),
    (dovegrey,#666),
    (stack,#878887),
    (lightstack,#959695),
    (ironsidegrey,#66635E),
    (rollingstone,#7A8486),
    
    (mineshaft,#2f2f2f),
    (ebonyclay,#1f2630),
    (lunargreen,#363836),
    (codgrey,#0F0F0F),
    (heavymetal,#363835),
    (heaviermetal,#262826),
    (black,#000),
    (darkmine,#222),
    (medmine,#333),
    
    (white,#fff)
);

div {
    display:inline-block;
    width:150px;
    height:150px;
    margin:0;
    border:1px rgba(0, 0, 0, 0.5) dashed;

    &:before {
        background:white;
        font-family:console, monospace;
        vertical-align: top;
        white-space: pre;
    }
}

@for $i from 1 through 109 {
    $name:nth(nth($colors, $i), 1);
    $hex:nth(nth($colors, $i), 2);

    div.color-#{$i} {
        background:$hex;

        &:before {
            content:"#{$hex} \A #{$name}";

        }
    }
}

